@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;700&family=Alegreya+Sans+SC:wght@400;700&family=Alegreya+Sans:wght@400;700&family=Inter:wght@400;700&display=swap');

body {
	@apply tracking-wider;

	background-color: #1c1c1e;
	color: #fff;
	font-size: 16px;
}

.btn {
	@apply font-sc font-bold uppercase py-2 px-8 rounded;

	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5);
}

.btn-md {
	@apply text-lg py-3;
}

.btn-primary {
	@apply text-white bg-gradient-to-b from-rf-yellow-100 to-rf-red-100 border-2 border-rf-yellow-100;
}

.btn-secondary {
	@apply text-white bg-gradient-to-b from-rf-red-100 to-rf-black-100 border-2 border-rf-yellow-200 border-opacity-50 border;
}

.btn-gray {
	@apply text-white bg-rf-gray-100 border-0;
}

.btn-outline-primary {
	@apply text-rf-yellow-100 border-2 border-rf-yellow-100;
}

.btn-outline-gray {
	@apply text-white border-2 border-rf-black-300;
}

.btn-right-arrow {
	@apply bg-rf-right-arrow bg-no-repeat bg-center h-16 w-12;
}
